:root{
    --header-bg: #00B4D8;
    --color: white;
    --section-bg: #EDEDE9;
}


body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: var(--section-bg);
    display: flex;
    justify-content: space-between;
}

.skills{
    width: 600px;
}

.columns{
    display: flex;
}

.skills,
.header{
    padding: 10px 15px;
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-home{
    display: grid;
}



.skills__list{
    padding: 0;
    list-style: none;
}

.skills__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skills__title{
    margin: 0;
    font-size: 1.2rem;
}

.skills__item{
    border: 1px solid #3333;
    border-radius: 3px;
    padding: .4rem;
    margin: 15px 0;
}

.btn-desc{
    background-color: inherit;
    border: 0;
}

.label{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 3px;
}

.input{
    padding: .5rem .2rem;
}

.containerBtns{
    text-align: right;
}

.btn-form{
    padding: .5rem .8rem;
    border: 0;
    border-radius: 3px;
}

.btn-saved{
    background-color: var(--header-bg);
    color: white;
    font-weight: bold;
}

.flex{
    display: flex;
    gap: 5px;
}

.input-flex{
    flex-grow: 1;
}

.hidden{
    display: none;
}

.btn-icon{
    transition: transform .3s ease;
}

.activeSkill .btn-icon{
    transform: rotate(180deg);
}

/**** CV ESTILOS ***/

.headerCv{
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.containerCv{
    max-width: 880px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgCv{
    width: 250px;
    background-color: #007D94;;
    line-height: 0;
}

.imgCv img{
    max-width: 100%;
}

.name{
    margin: 0;
    font-size: 60px;
}

.sections{
    display: flex;
}

.related{
    min-width: 250px;
}

.related__list{
    list-style: none;
    padding: 0;
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007D94;
}

.related__item{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}

.section__header h3{
    margin: 5px 0;
}

.footer{
    display: flex;
    gap: 15px;
}

.languages ul,
.more ul,
.section__list{
    list-style: none;
    padding: 0;
}
.languages li{
    margin: 10px 0;
}

.languages span{
    display: block;
}

.languages span:nth-child(1){
    font-weight: bold;
}


@media screen and (min-width:640px){
    .rows{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .main{
        max-width: 800px;
        margin: 0 auto;
    }
}
