

/**** CV ESTILOS ***/
.containerCv{
    display: inline-flex;
    gap: 20px;
    overflow-y: scroll;
    width: 800px;
}

.iconImage{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    border: 1px solid;
    object-fit: cover;
}

.section__left{
    display: flex;
    align-items: center;
    gap: 5px;
}

.line{
    width: 80%;
    height: 3px;
    background-color: #7889ff; /* Otra opcion de color #7889ff*/
}

.section__title{
    display: flex;
    align-items: center;
    gap: 10px;
}

ul{
    padding: 0;
}

.center{
    text-align: center
}

.contacs__item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.contacs{
    width: 70%;
    margin: 0 auto;
    list-style: none;
    color: white;
}

.contacs__item{
    margin: 10px 0;
}

.containerCV__lf{
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    background-color: #7889ff;
}

.related__title{
    color: white;
    font-weight: bold;
}

.containerCV__lf,
.containerCV__rg{
    padding: 9px;
}

.containerCV__rg{
    overflow: auto;
}

.section__sec{
    white-space: nowrap;
}

.headerCv{
    position: relative;
}

.img{
    height: 387px;
    position: absolute;
    z-index: -1;
    top: -61px;
    width: 114%;
    left: -30px;
}

.lftext{
  text-align: left;
  word-break: break-word;
}

.ages{
    font-weight: bold;
}

.main{
    flex-grow: 1;
}

.labels{
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.lf-content{
    width: 100%;
}

.photo-icon{
    width: 150px;
    height: 150px;
    border: 1px solid var(--border-color);
    background-color: var(--section-bg);
}

.photo-label{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.break-all{
    word-break: break-all;
}


@media screen and (min-width:640px){
    .rows{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

  
}

@media screen and (max-width:1440px){
    .containerCv{
        display: none;
    }
}